<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.paramedication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ery"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Database">
            android:windowSoftInputMode="adjustResize"
        </activity>
        <activity android:name=".Diagnosis">
            android:windowSoftInputMode="adjustResize"
        </activity>
        <activity android:name=".Info">
            android:windowSoftInputMode="adjustResize"
        </activity>
        <activity android:name=".Medication">
            android:windowSoftInputMode="adjustResize"
        </activity>
        <activity android:name=".Patients">
            android:windowSoftInputMode="adjustResize"
        </activity>
    </application>

</manifest>